{% extends 'about.html' %}
{% block title %} 기업 소개 {% endblock %}

{% block content %}
<div class="content">
        <img class="aboutImg" src="https://user-images.githubusercontent.com/73180410/116810126-d606db00-ab7c-11eb-8ecc-1b3322debdc9.png"/>
</div>

<div class="maintext">
        <hr width="500" color="#0D7251" size="7">
        <div class="textone">
        스마트한 라이프, <br/>
        더 스마트한 윈도우 <br/>
        </div>
        <div class="texttwo">
        Smart life, Smart w:ndow<br/>
        </div>
        <div class="textthree">
        스마트 윈도우 BREEZY는 IOT도약을 꿈꾸며,</br>
        사용자 편의를 위해 여러 환경을 계산하여 보다 쾌적한<br/>
        주거생활을 위해 노력합니다.<br/>
        </div>
        <div class="textfour">
        아두이노 미니컴퓨터를 이용한 똑똑한 창문 개폐 시스템과<br/>
        사용자 맞춤 자동 창문 서비스, BREEZY가 해냅니다
        </div>

</div>


{% endblock %}