{% extends 'base.html' %}
{% block title %} 댓글 작성 {% endblock %}

{% block content %}
<div class="con">
    <h3 class="signup">&nbsp; 댓글 작성하기</h3>
    <hr align="left" style="width:70%;"/>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <table>
                        <tr height="30">
                            <td width="130" align="right">{{ field.label }} &nbsp;</td>
                            <td width="100">{{ field }}</td>
                        </tr>
                    </table>

                {% endfor %}
                <hr align="left" style="width:70%;"/>
                </div>
            <input type="submit" class="signBtn" value="등록하기">
        </form>
</div>
{% endblock %}