{% extends 'base.html' %}
{% block title %} 홈 {% endblock %}

{% block content %}

<div class="content">
    <img class="mainImg" src="https://user-images.githubusercontent.com/73180410/117445513-b9e8ac80-af75-11eb-854d-682cc6cd279e.png"/>
<!--    <img class="home" src="https://user-images.githubusercontent.com/73180410/116055582-cfc5ba00-a6b7-11eb-9bb1-0ceb9c485f5f.png">-->
<!--    <p class="main">-->
<!--    BREEZY! <br/>-->
<!--    OPEN YOUR <br/>-->
<!--    W:NDOW-->
<!--    </p>-->
</div>
{% endblock %}

