{% extends 'service.html' %}
{% block title %} 서비스 안내 {% endblock %}

{% block content %}
<div class="content">
    <div class="serviceWrap">
        <div class="textDiv">BREEZY's Solution</div>
        <div class="textbox"></div>

        <div class="fourcontent">
            <div class="textonebox">
                <div class="textone">편의와 안전을 도모하는<br>센서</div>
                <img class="textoneImg" src="https://user-images.githubusercontent.com/73169168/116579152-12ec8b00-a94d-11eb-8811-9f7a87fa83b6.png"/>
            </div>

            <div class="texttwobox">
                <div class="texttwo">다양한<br>생활 팁 제공</div>
                <img class="texttwoImg" src="https://user-images.githubusercontent.com/73169168/116582317-336a1480-a950-11eb-9324-cedaae920b6c.png"/>
            </div>

            <div class="textthreebox">
                <div class="textthree">아두이노<br>스마트 윈도우</div>
                <img class="textthreeImg" src="https://user-images.githubusercontent.com/73169168/116583020-e175be80-a950-11eb-89c2-8feae90414b7.png"/>
            </div>

            <div class="textfourbox">
                <div class="textfour">음성인식 조작</div>
                <img class="textfourImg" src="https://user-images.githubusercontent.com/73169168/116584537-6ad9c080-a952-11eb-999f-de9110707850.png"/>
            </div>
        </div>

        <div class="imgbox">
            <img class="serviceImg" src="https://user-images.githubusercontent.com/73169168/117438697-da603900-af6c-11eb-8d9a-605332b4ed90.png"/>
        </div>

    </div>


</div>
{% endblock %}