<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>It's BREEZY!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<header>
    <div class="logoDiv"><a href="/" class="logo">BREEZY</a></div>
    <div class="loginDiv">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">[{{user.get_username}} 님] 로그아웃 </a> /
        {% else %}
        <a href="{% url 'login' %}">로그인 </a> /
        {% endif %}

        {% if user.is_authenticated %}
        <a href="{% url 'mypage' %}">마이페이지 </a>
        {% else %}
        <a href="{% url 'register' %}">회원가입 </a>
        {% endif %}
    </div>
</header>

<div class="con">
    <form method="post" class="post-form" action="{% url 'login' %}">
        {% csrf_token %}
        <h3 class="signup">&nbsp; 회원 로그인</h3>
        <hr align="left" style="width:70%;"/>

        <div class="error_message">
            {{error}}
        </div>
        <div class="loginBox">
            <div class="form-group">
                <label for="username">사용자ID &nbsp;</label>
                <input type="text" class="form-control" name="username" id="username"
                       value="{{ form.username.value|default_if_none:'' }}">
            </div>
            <div class="form-group">
                <label for="password">비밀번호 &nbsp;</label>
                <input type="password" class="form-control" name="password" id="password"
                       value="{{ form.password.value|default_if_none:'' }}">
            </div>
            <button type="submit" class="loginBtn">로그인</button>
<!--            <div class="findID">-->
<!--                <a class="findIDs" href="{% url 'find_id' %}"> 아이디 찾기</a> / <a class="findPs" href="">비밀번호 찾기</a>-->
<!--            </div>-->
        </div>
    </form>

    <hr align="left" style="width:70%;"/>
    <a href="{% url 'register' %}"><button type="button" class="toSignBtn">회원가입</button></a>
</div>

</body>
</html>