<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>It's BREEZY!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<header>
    <div class="logoDiv"><a href="/" class="logo">BREEZY</a></div>
    <div class="loginDiv">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">[{{user.get_username}} 님] 로그아웃 </a> /
        {% else %}
        <a href="{% url 'login' %}">로그인 </a> /
        {% endif %}

        {% if user.is_authenticated %}
        <a href="{% url 'mypage' %}">마이페이지 </a>
        {% else %}
        <a href="{% url 'register' %}">회원가입 </a>
        {% endif %}
    </div>
</header>

<div class="con">
        <form action="" method="post">
            {% csrf_token %}
            <h3 class="signup">&nbsp; 회원가입</h3>
            <hr align="left" style="width:70%;"/>

            <div class="error_message">
                {{error}}
            </div>

            {% for field in form %}
            <div class="form-group">
<!--                {{ field.label }} <br>-->
<!--                {{ field }}-->
                <table>
                    <tr>
                        <td width="130" align="right">{{ field.label }} &nbsp;</td>
                        <td width="100">{{ field }}</td>
                    </tr>
                </table>
            </div>
            {% endfor %}

            <div class="btnG">
                <input class="signBtn" type="submit" value="가입하기">
                <a href="/"><input class="signBtn2" type="button" value="취소하기"></a>
            </div>
    </form>
</div>

</body>
</html>